
a,div,li{color: black;}
/*#MODAL_DIV_400,#MODAL_DIV_600,#MODAL_DIV_800{left: -20px}*/


.w_3p{ width:3%;}
.w_5p{ width:5%;}
.w_6p{ width:6%;}
.w_10p{ width:10%;}
.w_11p{ width:11%;}
.w_15p{ width:15%;}
.w_16_5p{ width:16.5%;}
.w_20p{ width:20%;}
.w_25p{ width:25%;}
.w_30p{ width:30%;}
.w_33p{ width:33% !important;}
.w_35p{ width:35%;}
.w_40p{ width:40%;}
.w_45p{ width:45%;}
.w_50p{ width:50%;}
.w_55p{ width:55%;}
.w_60p{ width:60%;}
.w_65p{ width:65%;}
.w_70p{ width:70%;}
.w_80p{ width:80%;}
.w_90p{ width:90%;}
.w_100p{ width:100%;}

.w_auto{ width:auto;}


.w_10{ width:10px !important;}
.w_20{ width:20px !important;}
.w_30{ width:30px;}
.w_40{ width:40px !important;}
.w_50{ width:50px !important;}
.w_70{ width:70px;}
.w_60{ width:60px !important;}
.w_80{ width:80px;}
.w_100{ width:100px !important;}
.w_120{ width:120px !important;}
.w_130{ width:130px;}
.w_150{ width:150px !important;}
.w_180{ width:180px;}
.w_200{ width:200px !important;}
.w_210{ width:210px;}
.w_220{ width:220px;}
.w_230{ width:230px;}
.w_240{ width:240px;}
.w_250{ width:250px;}
.w_280{ width:280px;}
.w_300{ width:300px !important;}
.w_350{ width:350px;}
.w_400{ width:400px;}
.w_450{ width:450px;}
.w_365{ width:365px;}
.w_375{ width:375px;}
.w_395{ width:395px;}
.w_460{ width:460px;}
.w_490{ width:490px;}
.w_500{ width:500px;}
.w_600{ width:600px;}
.w_700{ width:700px;}
.w_730{ width:730px;}
.w_750{ width:750px;}
.w_790{ width:790px;}
.w_800{ width:800px;}
.w_900{ width:900px;}
.w_980{ width:980px;}


.h_15{ height:15px;}
.h_20{ height:20px;}
.h_25{ height:25px;}
.h_30{ height:30px;}
.h_34{ height:34px !important;}
.h_40{ height:40px;}
.h_45{ height:45px;}
.h_50{ height:50px;}
.h_61{ height:61px !important;}
.h_80{ height:80px;}
.h_90{height: 90px;}
.h_100{ height:100px;}
.h_110{ height:110px;}
.h_120{ height:120px;}
.h_130{ height:130px;}
.h_140{height:140px;}
.h_143{ height:143px;}
.h_150{ height:150px;}
.h_170{ height:170px;}
.h_180{ height:180px;}
.h_190{ height:190px;}
.h_200{ height:200px;}
.h_220{ height:220px;}
.h_250{ height:250px;}
.h_260{ height:260px;}
.h_280{ height:280px;}
.h_300{ height:300px;}
.h_360{ height:360px;}
.h_400{ height:400px;}
.h_450{ height:450px;}
.h_500{ height:500px;}
.h_600{ height:600px;}
.h_auto{ height:auto;}

.max_w100{ max-width: 100px; width: 95%;}
.max_w200{ max-width: 200px; width: 95%;}
.max_w300{ max-width: 300px; width: 95%;}
.max_w400{ max-width: 400px; width: 95%;}
.max_w500{ max-width: 500px; width: 95%;}
.max_w600{ max-width: 600px; width: 95%;}
.max_w700{ max-width: 700px; width: 95%;}
.max_w800{ max-width: 800px; width: 95%;}
.max_w150{ max-width: 150px; width: 95%;}
.max_w250{ max-width: 250px; width: 95%;}
.max_w350{ max-width: 350px; width: 95%;}
.max_w450{ max-width: 450px; width: 95%;}
.max_w550{ max-width: 550px; width: 95%;}
.max_w650{ max-width: 650px; width: 95%;}
.max_w750{ max-width: 750px; width: 95%;}
.max_w850{ max-width: 850px; width: 95%;}



/*
배경색
*/

.back_silver{background:silver;}
.back_gray{background:gray;}
.back_red{background:red;}
.back_yellow{background:yellow;}
.back_light_gray{background-color: #A0A0A0;}
.back_black{background-color: #333333;}
.back_blue{background-color: #2C689D;}

/*
폰트색
*/
.red{color:red;}
.blue{color:blue;}
.gray{color:gray;}
.white{color:white;}
.black{color:black;}
.silver{color:silver;}
.green{color:green;}



.b{font-weight: bold;}



.f_5{font-size: 5px;}
.f_6{font-size: 6px;}
.f_7{font-size: 7px;}
.f_8{font-size: 8px;}
.f_9{font-size: 9px;}
.f_10{font-size: 10px;}
.f_12{font-size: 12px;}
.f_15{font-size: 15px;}
.f_18{font-size: 18px;}
.f_20{font-size: 20px;}
.f_25{font-size: 25px;}
.f_30{font-size: 30px;}
.f_35{font-size: 35px;}
.f_40{font-size: 40px;}
.f_45{font-size: 45px;}
.f_50{font-size: 50px;}
.f_100{font-size: 100px;}


.z_2000{z-index:2000;}
.z_3000{z-index:3000;}
.z_4000{z-index:4000;}
.z_5000{z-index:5000;}
.z_10000{z-index:10000;}

.text_limite{overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }
.text_break{word-break: break-all; }

.solid{border:1px solid red;}
.dotted{border:1px dotted blue;}


.v_top{vertical-align: top}
.v_bottom{vertical-align: bottom}

.center{text-align: center}
.left{text-align: left}
.right{text-align: right}

.p0{padding: 0px;}
.m0{margin: 0px;}
